!!!
%html
  %head
    %title ASDFGHJKLife
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar-fixed-top
      .navbar-inner
        = render 'layouts/navigation'
    #main{:role => "main"}
      = yield
